.wrapper {
  font-family: sans-serif;
  margin: auto;
  max-width: 900px;
  max-height: 1100px;
}

.toolbar {
  background-color: #444;
  width: 100%;
  overflow: auto;
}

.toolbar a {
  float: left;
  width: 32%;
  text-align: center;
  padding: 6px 5px;
  transition: all 0.5s ease;
}

.toolbar a:hover {
  background-color: #000000;
}

.toolbar a img {
  max-width: 100%;
  height: auto;
}

.selected {
  background-color: #000000;
}

#colour_canvas {
  width: 100%;
  height: 100%;
  border: 3px solid #000000;
}
